<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas personalizado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduce los datos del filtro">

  </ion-input>
  <ion-grid class="contenido">
    <ion-row>
      <ng-container *ngFor="let user of users | async">
      <ion-col  *ngIf="filtro == '' || user.Genero.includes(filtro) || user.Nombre.startsWith (filtro)"  size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card class="tarjetas">
          <ioncard-content>
            <h1> {{ user.Dni }} {{ user.Nombre }}  </h1>
            <h3> {{ user.Apellido }} {{user.Email}} </h3>
            <p class="desaparece"> {{ user.Ciudad }} {{user.Telefono}} </p>
            <p class="oculto"> {{ user.Cuenta }}  </p>
          </ioncard-content>
        </ion-card>
      </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>